@{
    ViewData["Title"] = "Conceito";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">    
    <p>Esta é uma aplicação que tem como objetivo perceber alguma coisa de coisas a perceber...</p>
    <a asp-action="Index">Início</a>
</div>