@{
    ViewData["Title"] = "Entrada";
}

<div class="jumbotron text-center">
    <h1>Revisão para o teste</h1>
    <h2>Estudar, estudar e estudar</h2>
    <a asp-action="Conceito">Conceito!!</a>
</div>
